<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.originTitle}"></title>

    <div th:replace="layouts/all-styles-fragment :: th:block"></div>

    <script type="text/javascript" src="\webjars\jquery\3.6.1\jquery.min.js"></script>
</head>
    <script type="text/javascript">

        //flipping photo
        $(document).ready(function() {

            //flipping next
            $("#nextImage").bind("click", function () {
                $.ajax ({
                    url: "/page-details/next-img/" + $("#image-names").val(),
                    type: "GET",
                    //data: ({id: $("#item-id").val()}),
                    dataType: "html",
                    success: function (data) {
                        //$("#result").text(data),
                        $("#photo").html(data);
                    }

                });
            });

            //flipping prev
            $("#prevImage").bind("click", function () {
                $.ajax ({
                    url: "/page-details/prev-img/" + $("#image-names").val(),
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        $("#photo").html(data);
                    }

                });
            });
        });


    </script>
<body>
<div th:replace="layouts/header :: header"></div>
<div class="container">
    <div class="box-content">
        <div class="box-image-slider">
<!--            flipping photo-->
<!--            show if user have uploaded photo-->
            <div th:if="${item.getFirstImageName() != ''}" class="img-box-page-details img-wrapper-page-details" id="photo">
                <img th:alt="${item.originTitle}" th:src="'https://bucket-charity.s3.eu-central-1.amazonaws.com/' + ${item.getFirstImageName()}"/>
            </div>
<!--            show if user das not have uploaded photo-->
            <div th:if="${item.getFirstImageName() == ''}" class="img-box-page-details img-wrapper-page-details" id="photo">
                <img th:src="@{/images/help.png}" alt="Help me"/>
            </div>
            <!-- show if user have uploaded photo-->
            <div th:if="${showNavImg == 'showNavImg'}" class="img-control">
                <img id="prevImage" th:src="@{/images/before.png}" alt="next-img">
                <img id="nextImage" th:src="@{/images/next.png}" alt="prev-img">
            </div>
        </div>
        <div class="box-info-page-details">

<!--            if show origin language-->
            <h1 th:if="${actualLocal} == ${item.originLanguage}" class="h1-details" th:utext="${item.originTitle}"></h1>

            <!--            if show translation-->
            <th:block th:if="${actualLocal} != ${item.originLanguage}">
                <th:block th:each="customInfo : ${item.customInfos}">
                    <th:block th:if="${customInfo.language} == ${actualLocal} AND ${customInfo.contentName} == 'Title'">
                        <h1 class="h1-details" th:utext="${customInfo.translation}"></h1>
                    </th:block>
                </th:block>
            </th:block>

            <div class="param">
                <p th:text="#{page_details.text_type} + ' --- ' + #{__${item.type}__}"></p>
                <p><span th:text="#{page_details.text_money}"></span> --- <span th:text="${item.price} + ' Euro'"></span></p>
                <p th:text="#{page_details.text_category} + ' --- ' + #{__${item.category}__}"></p>
                <p th:text="#{page_details.text_country} + ' --- ' + #{__${item.country}__}"></p>
            </div>
                <br>
            <br>

            <!--            if show origin language-->
            <h1 th:if="${actualLocal} == ${item.originLanguage}" class="h1-details" th:utext="${item.originInfo}"></h1>

            <!--            if show translation-->
            <th:block th:if="${actualLocal} != ${item.originLanguage}">
                <th:block th:each="customInfo : ${item.customInfos}">
                    <th:block th:if="${customInfo.language} == ${actualLocal} AND ${customInfo.contentName} == 'Info'">
                        <h1 class="h1-details" th:utext="${customInfo.translation}"></h1>
                    </th:block>
                </th:block>
            </th:block>

            <br><br><br>
            <p><span th:text="#{page_details.text_author}"></span> <b th:text="${item.user.firstname}"></b> <b th:text="${item.user.surname}"></b></p>
            <p><span th:text="#{page_details.text_email}"></span> <b th:text="${item.user.username}"></b></p>
<!--            only for admin-->
            <div sec:authorize="hasAuthority('ADMIN')">
                <p>Роль: <b th:text="${item.user.role}"></b></p>
                <p th:text="'id: ' + ${item.id}"></p>
                <p sec:authorize="hasAuthority('ADMIN')"><span th:text="#{page_details.text_date}"></span> <span th:text="${date}"></span></p>
            </div>
<!--            show if user have role ADMIN-->
            <a th:href="'/page-details/' + ${item.id} + '/update'"
               th:if="${item.user.username} == ${#authentication.name} OR ${#authorization.expression('hasAuthority(''ADMIN'')')}"><button><span th:text="#{page_details.btn.go_to_update}"></span></button></a>

        </div>
    </div>
</div>

<!--            hiding string for ajax and flipping photo-->
<input style="visibility: hidden" id="image-names" th:value="${item.fileName}"/>

<div th:replace="layouts/footer :: footer"></div>
</body>
</html>